
   html {
      --lumo-shade: hsl(214, 42%, 3%);
      --lumo-shade-5pct: hsla(214, 42%, 3%, 0.05);
      --lumo-shade-10pct: hsla(214, 42%, 3%, 0.1);
      --lumo-shade-20pct: hsla(214, 42%, 3%, 0.2);
      --lumo-shade-30pct: hsla(214, 42%, 3%, 0.3);
      --lumo-shade-40pct: hsla(214, 42%, 3%, 0.4);
      --lumo-shade-50pct: hsla(214, 42%, 3%, 0.5);
      --lumo-shade-60pct: hsla(214, 42%, 3%, 0.6);
      --lumo-shade-70pct: hsla(214, 42%, 3%, 0.7);
      --lumo-shade-80pct: hsla(214, 42%, 3%, 0.8);
      --lumo-shade-90pct: hsla(214, 42%, 3%, 0.9);

    }

    [theme~="DARK"]
    vaadin-scroller[slot="drawer"] {
      padding: var(--lumo-space-s);
    }

    [slot="drawer"]:is(header, footer) {
      display: flex;
      align-items: center;
      gap: var(--lumo-space-s);
      padding: var(--lumo-space-s) var(--lumo-space-m);
      min-height: var(--lumo-size-xl);
      box-sizing: border-box;
    }

    [slot="drawer"]:is(header, footer):is(:empty) {
      display: none;
    }

    .list-view .product-grid{
        flex:2;
        }

        .list-view.formView
        flex:1;
        var(--lumo-space-m);
        }
        .list-view.content{
            display: flex;
        }
        @media all and (max-width: 1100px) {
        .list-view.editing.toolbar,
        .list-view.editing.formView{
        display: none;
        }





